* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    font-family: 'Cardo', 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}

/* Balls */
#redball, #greenball, #blueball {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50px;
  }
  #redball {
    background: radial-gradient(50% 50%,
    rgba(255,128,128,1), rgba(255,64,64,1) 60%, rgba(255,0,0,1) 95%, rgba(255,255,255,0));
  }
  #greenball {
    background: radial-gradient(50% 50%,
    rgba(128,255,128,1), rgba(64,255,64,1) 60%, rgba(0,255,0,1) 95%, rgba(255,255,255,0));
  }
  #blueball {
    background: radial-gradient(50% 50%,
    rgba(128,128,255,1), rgba(64,64,255,1) 60%, rgba(0,0,255,1) 95%, rgba(255,255,255,0));
  }