$dark-color: black;
$medium-color: gray;
$light-color: lightgray;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    font-family: 'Cardo', 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    min-width: 1140px;
}

table {
    height: 580px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

button {
    color: white;
    background-color: $medium-color;
    border: none;
    width: 100px;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

a {
    margin-top: 10px;
    width: 100%;
    text-align: end;
}
